In [1]:
import pandas as pd

In [2]:
file='/Users/jheaton/projects/t81_558_deep_learning/assignments/assignment_yourname_class2.ipynb'

In [4]:
df = pd.read_csv("http://data.heatonresearch.com/data/t81-558/datasets/reg-33-data.csv")

In [9]:
df.head()

,id,convention,height,max,cat2,number,usage,region,length,code,power,item,weight,country,target
0,1,CO-1A,4284.51,44907,CA-E,16669,US-7,RE-4,12471.1127,CO-B,27351.36,IT-17,13722,CO-1,44098.106769
1,2,CO-C,806.88,48831,CA-A,8652,US-20,RE-15,10035.7085,CO-E,42323.89,IT-1E,33779,CO-0,95567.294044
2,3,CO-19,2859.80,40760,CA-16,23103,US-17,RE-1D,14442.6566,CO-5,30660.91,IT-14,26633,CO-23,48583.507153
3,4,CO-2B,5823.87,33597,CA-9,17680,US-10,RE-1D,15121.4937,CO-B,59456.24,IT-8,14537,CO-11,130572.202064
4,5,CO-5,NaN,29848,CA-9,24136,US-21,RE-4,18093.9147,CO-4,46998.44,IT-5,21135,CO-1E,85768.812850

In [10]:
df.describe()

,id,height,max,number,length,power,weight,target
count,10809.000000,8971.000000,10809.000000,10809.000000,10646.000000,10809.000000,10809.000000,10809.000000
mean,5405.000000,3467.581587,48390.661208,18315.128504,13511.228041,43638.645361,27952.073272,89338.872653
std,3120.433864,1972.456969,11267.315126,4807.258933,3278.675670,12431.771621,15798.122063,37692.449571
min,1.000000,60.070000,712.000000,309.000000,348.000000,819.000000,564.000000,-50194.241772
25%,2703.000000,1757.095000,40767.000000,15051.000000,11321.074375,35113.380000,14368.000000,63668.960703
50%,5405.000000,3482.600000,48308.000000,18312.000000,13522.492250,43510.110000,27989.000000,89186.892747
75%,8107.000000,5156.765000,56071.000000,21581.000000,15738.330800,52049.860000,41680.000000,115138.736504
max,10809.000000,6889.630000,90415.000000,37150.000000,25633.000000,93939.000000,55308.000000,239516.024243

In [14]:
height_median=df['height'].median()

In [18]:
df['height'].fillna(height_median, inplace=True)

In [19]:
length_mean = df['length'].mean()
df['length'] = df['height'].mean()

,id,height,max,number,length,power,weight,target
count,10809.000000,10809.000000,10809.000000,10809.000000,10646.000000,10809.000000,10809.000000,10809.000000
mean,5405.000000,3470.135371,48390.661208,18315.128504,13511.228041,43638.645361,27952.073272,89338.872653
std,3120.433864,1796.938575,11267.315126,4807.258933,3278.675670,12431.771621,15798.122063,37692.449571
min,1.000000,60.070000,712.000000,309.000000,348.000000,819.000000,564.000000,-50194.241772
25%,2703.000000,2107.440000,40767.000000,15051.000000,11321.074375,35113.380000,14368.000000,63668.960703
50%,5405.000000,3482.600000,48308.000000,18312.000000,13522.492250,43510.110000,27989.000000,89186.892747
75%,8107.000000,4820.590000,56071.000000,21581.000000,15738.330800,52049.860000,41680.000000,115138.736504
max,10809.000000,6889.630000,90415.000000,37150.000000,25633.000000,93939.000000,55308.000000,239516.024243

In [17]:
df.fillna?